/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  -webkit-text-decoration-skip: objects;
}

/**
 * Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --dark-bg-color: #2f303a;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --button-hover: #188ce8;
  --section-bg-color: #f5f4fa;
  --card-border-color: #eeeeee;
  --header-bottom-border: #ececec;
  --primary-icons-color: #afb1b8;
  --emergency-bgc: #c4c4c4;
  --main-font-family: Roboto, sans-serif;
  --logo-font-family: Raleway, sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --grid-item: 1;
  --grid-item-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 1px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  vertical-align: middle;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.navigation .current-link,
.menu-navigation .current-link,
.menu-contacts .current-link {
  color: var(--accent-color);
}

.current-link::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.grid-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
  .grid-item {
    flex-basis: calc((100% - var(--grid-item-gap) * var(--grid-item)) / var(--grid-item));
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .grid-item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .grid-item {
    --grid-item: 4;
  }
}

.button {
  width: 12.5em;
  height: 3.12em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color var(--animation), box-shadow var(--animation);
}

.button:hover, .button:focus {
  background-color: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  color: var(--accent-color);
  font-family: var(Raleway, sans-serif);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  vertical-align: middle;
}

.logo--dark {
  color: #000000;
  border-bottom: none;
}

.logo--light {
  color: var(--white-color);
}

.header .logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .logo {
    margin-right: 85px;
  }
}

.social-icon {
  fill: var(--primary-icons-color);
  width: 20px;
  height: 20px;
}

.social-icons__item {
  display: inline-flex;
  width: 44px;
  height: 44px;
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  transition: background-color var(--animation);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__link:hover .social-icon,
.social-icons__link:focus .social-icon {
  fill: var(--white-color);
}

.social-icons__link .social-icon {
  transition: fill var(--animation);
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: inherit;
}

.address__item + .address__item {
  margin-top: 9px;
}

.address__contacts {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

.address__contacts:hover, .address__contacts:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.subscribe__field {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-bg-color);
  border-radius: 4px;
  padding: 11px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 479px) {
  .subscribe__field {
    width: 100%;
    max-width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe__field {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__field {
    margin-right: 12px;
  }
}

.subscribe__button {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    display: flex;
  }
}

.subscribe__text {
  font-family: inherit;
  font-style: inherit;
  color: var(--white-color);
  margin-left: auto;
}

.subscribe__icon {
  fill: var(--white-color);
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  opacity: 1;
  visibility: visible;
  transition: visibility var(--animation), opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--animation);
}

.modal__button-close:hover,
.modal__button-close:hover .modal__icon-x {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal__icon-x {
  display: block;
  margin: auto;
  fill: var(--secondary-text-color);
  width: 11px;
  height: 11px;
}

.modal__title {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

.form-container--relative {
  position: relative;
  display: block;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__agreement-label {
  display: inline-block;
  letter-spacing: 0.03em;
  padding-left: 0.5em;
  margin-top: 20px;
  margin-left: 1.6em;
  font-size: 14px;
  line-height: 1.171;
  color: var(--primary-text-color);
  cursor: pointer;
}

.agreement__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.agreement__checkbox:focus + .agreed-span {
  box-shadow: 0 0 0 0.1em var(--accent-color);
}

.agreement__checkbox:checked + .agreed-span {
  background-color: var(--accent-color);
  border: none;
}

.agreed-span {
  position: absolute;
  bottom: 0.2em;
  left: 0;
  margin-left: 0.4em;
  width: 1em;
  height: 1em;
  border: 1px solid var(--secondary-text-color);
  border-radius: 2px;
  background-image: url(../images/check.svg);
  background-size: contain;
  /* background-color: var(--accent-color); */
}

.placeholder-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.form__field {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 11px 11px 11px 40px;
  outline: var(--accent-color);
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: fill var(--animation), border var(--animation);
}

.form__field:hover, .form__field:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
}

.form__field:hover ~ .form__icon,
.form__field:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__textarea-field {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 11px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  transition: border var(--animation);
}

.form__textarea-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea-field:focus, .form__textarea-field:hover {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
}

.form__icon {
  position: absolute;
  top: 55%;
  left: 12px;
  width: 18px;
  height: 18px;
}

.form__submit-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter {
  width: auto;
  height: 38px;
  border: 1px solid transparent;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  transition: background-color var(--animation), box-shadow var(--animation), color var(--animation);
}

.filter:hover, .filter:focus {
  color: var(--white-color);
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  display: block;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-buttons {
    flex-wrap: wrap;
    justify-content: left;
  }
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.mobile-menu-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 110;
  background-color: transparent;
  border: none;
  transition: fill var(--animation);
}

@media screen and (min-width: 767px) {
  .mobile-menu-btn {
    display: none;
  }
}

.icon-close {
  display: none;
}

.is-open .icon-close {
  display: block;
}

.is-open .icon-menu {
  display: none;
}

.mobile-menu-icon {
  cursor: pointer;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--animation);
}

.mobile-menu-icon:hover, .mobile-menu-icon:focus {
  fill: var --accent-color;
}

.mobile-menu-btn .mobile-menu-icon:hover,
.mobile-menu-btn .mobile-menu-icon:focus {
  fill: var --accent-color;
}

.mobile-menu-btn:hover .mobile-menu-icon,
.mobile-menu-btn:focus .mobile-menu-icon {
  background-color: var --accent-color;
  fill: var --accent-color;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 105;
  padding: 48px 40px;
  background-color: var(--white-color);
  transition: right var(--animation);
}

.mobile-menu.is-open {
  right: 0;
}

.menu-navigation {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 300px;
  color: var(--secondary-text-color);
}

.menu__item + .menu__item {
  margin-top: 32px;
}

.menu-contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding-bottom: 64px;
}

.menu-contacts__item:first-of-type {
  font-size: 40px;
  margin-bottom: 32px;
}

.menu-social-box {
  display: block;
}

.menu-social {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.menu-social__item {
  box-sizing: border-box;
}

.menu-social__item:not(:last-child):after {
  content: '';
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.header {
  border-bottom: 1px solid var(--header-bottom-border);
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
    padding: 0;
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen {
  .header__container {
    justify-content: space-between;
    align-items: center;
  }
}

.navigation,
.contacts {
  display: flex;
  align-items: center;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.navigation-section {
  transition: color var(--animation);
}

.contacts {
  margin-left: auto;
}

.navigation__link {
  position: relative;
  display: inline-block;
  color: var(--secondary-text-color);
  transition: color var(--animation);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.contacts__link {
  display: flex;
  align-items: center;
  color: inherit;
  transition: color var(--animation);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icons {
  fill: currentColor;
  margin-right: 10px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .navigation,
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-right: 80px;
  }
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link,
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero1@2x_mobile.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero1_tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero1@2x_tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero1_desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero1@2x_desktop.jpg);
  }
}

.hero__title {
  margin: 0;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .hero__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    width: 768px;
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__container {
    width: 1200px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages-item {
  max-width: 450px;
  min-height: 226px;
}

.advantages-item > p {
  display: block;
}

.advantages-icons-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  max-height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--section-bg-color);
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin: 0 0 10px 0;
  color: var(--secondary-text-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
  .advantages__text {
    text-align: justify;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-item {
    max-width: 354px;
  }
  .advantages__text {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item {
    max-width: 270px;
    min-height: 251px;
    margin-bottom: 0;
  }
}

.specialization-list {
  position: relative;
}

.specialization-list .item:not(:last-child) {
  margin-right: var(--grid-item-gap);
}

.specialization-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.specialization-text {
  display: flex;
  justify-content: center;
  font-weight: 700;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (max-width: 1199.9px) {
  .specialization-section {
    display: none;
  }
}

.team-section {
  background: var(--section-bg-color);
  text-align: center;
}

.team__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-box {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-img {
  width: 100%;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
    height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
    height: 428px;
    margin-bottom: 0;
  }
}

.clients-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--primary-icons-color);
  border-radius: 4px;
  transition: border var(--animation);
}

.client__link .client__icon {
  fill: var(--primary-icons-color);
  transition: fill var(--animation);
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
}

.client__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .client__item + .client__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .client__item:nth-child(2n + 1) {
    margin-left: 0;
  }
  .client__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__link {
    width: 226px;
  }
  .client__item:nth-child(3n + 4) {
    margin-left: 0;
  }
  .client__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
  .client__item {
    margin-bottom: 0;
  }
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  font-weight: inherit;
  height: 603px;
  padding-top: 60px;
  color: var(--white-color);
  background: var(--dark-bg-color);
  font-style: normal;
}

.footer-box {
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.footer-box .form-box {
  display: block;
}

.footer-title {
  display: block;
  color: var(--white-color);
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-icons__link .footer-icon {
  fill: var(--white-color);
}

.social-icons__link {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
  }
  .footer-grid {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
  .footer-grid {
    display: flex;
    align-items: baseline;
  }
  .footer-grid-item {
    width: calc((50% - 45px) / 2);
    margin-right: 30px;
  }
  .footer-grid-item:last-child {
    flex-basis: calc((50% - 45px) / 2);
    flex-grow: 1;
    margin-right: 0;
  }
  .footer-title {
    margin-bottom: 14px;
  }
  .footer-box {
    margin-bottom: 0;
  }
}

.gallery__link:hover,
.gallery__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__item:hover, .gallery__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.gallery__box {
  position: relative;
  z-index: 3;
  padding: 20px 24px;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
}

.gallery__link .gallery__textbox {
  transition: transform var(--animation), opacity var(--animation), box-shadow var(--animation);
}

.gallery__link:hover .gallery__textbox {
  transform: translate(0, 0);
  opacity: 1;
}

.gallery__textbox {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  width: 100%;
  min-height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
}

.textbox__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__box:first-of-type {
    min-height: 143px;
  }
  .gallery__item:last-of-type {
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 0;
  }
  .gallery__item {
    --grid-item: 2;
  }
  .gallery__item:nth-child(2n) {
    margin-right: 0;
  }
  .gallery__item:nth-child(-n + 3) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    --grid-item: 3;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
  }
  .gallery__item:nth-child(3n) {
    margin-right: 0;
  }
  .gallery__item:nth-child(-n + 3) {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */