.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: inherit;
}
.address__item + .address__item {
  margin-top: 9px;
}

.address__contacts {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
