.mobile-menu-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  z-index: 110;
  background-color: transparent;
  border: none;

  transition: fill var(--animation);

  &:hover,
  &:focus {
    fill: var (--accent-color);
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.icon-close {
  display: none;
}

.is-open {
  .icon-close {
    display: block;
  }
  .icon-menu {
    display: none;
  }
}

.mobile-menu-icon {
  cursor: pointer;
  fill: var(--primary-text-color);

  transition: fill 250ms var(--animation);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 105;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  padding: 8% 6%;

  overflow-y: scroll;

  background-color: var(--white-color);
  transition: right var(--animation);

  &.is-open {
    right: 0;
  }

  @media screen and (min-width: 480px) {
    padding: 48px 40px;
  }
}

.menu-navigation {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.menu__item + .menu__item {
  margin-top: 32px;
}

.menu-contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.menu-contacts__item:first-of-type {
  color: var(--accent-color);
  font-size: 40px;
  margin-bottom: 32px;
}
.menu-social-box {
  display: block;
}
.menu-social {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.menu-social__item {
  box-sizing: border-box;
}
.menu-social__item:not(:last-child):after {
  content: '';
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu__link,
.menu-contacts__link {
  transition: color var(--animation);
}

.menu__link:hover,
.menu__link:focus,
.menu-contacts__link:hover,
.menu-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 425px) {
  .menu-navigation {
    font-size: 20px;
  }

  .menu-contacts {
    font-size: 14px;
  }

  .menu-contacts__item:first-of-type {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .menu__item + .menu__item {
    margin-top: 22px;
  }
  .menu-social {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
