.subscribe-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  align-items: baseline;
  justify-content: space-between;
}

.subscribe__field {
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-bg-color);
  border-radius: 4px;
  padding: 11px;
  margin-right: 12px;
  outline: none;

  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.subscribe__button {
  padding: 10px;
  text-align: center;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribe__text {
  font-family: inherit;
  font-style: inherit;
  color: var(--white-color);
  margin-left: auto;
}

.subscribe__icon {
  fill: var(--white-color);
  margin-left: auto;
  margin-right: auto;
}
