.footer {
  font-weight: inherit;
  height: 603px;
  padding-top: 60px;

  color: var(--white-color);
  background: var(--dark-bg-color);
  font-style: normal;
}

.footer-box {
  align-items: center;
  text-align: center;

  margin-bottom: 60px;
}

.footer-box .form-box {
  display: block;
}

// .footer-grid {
//   display: flex;
//   align-items: baseline;
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

// .footer-grid-item {
//   width: calc((50% - 45px) / 2);
//   margin-right: 30px;

//   &:last-child {
//     flex-basis: calc((50% - 45px) / 2);
//     flex-grow: 1;
//     margin-right: 0;
//   }
// }

.footer-title {
  display: block;
  color: var(--white-color);
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-icons__link .footer-icon {
  fill: var(--white-color);
}
.social-icons__link {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
  }
  .footer-grid {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }

  .footer-grid {
    display: flex;
    align-items: baseline;
  }

  .footer-grid-item {
    width: calc((50% - 45px) / 2);
    margin-right: 30px;

    &:last-child {
      flex-basis: calc((50% - 45px) / 2);
      flex-grow: 1;
      margin-right: 0;
    }
  }

  .footer-title {
    margin-bottom: 14px;
  }

  .footer-box {
    margin-bottom: 0;
  }
}
