.specialization-list {
  position: relative;

  & .item:not(:last-child) {
    margin-right: var(--grid-item-gap);
  }
}
.specialization-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.specialization-text {
  display: flex;
  justify-content: center;
  font-weight: 700;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
@media screen and (max-width: 1199.9px) {
  .specialization-section {
    display: none;
  }
}
